.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
  top:0;
  position: sticky;
}