.navbar-links {
  display: flex;
  gap: 20px;
  
}

/* NavLink active state */
.navbar-links a.active {
  text-decoration: underline;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  background-color: rgba(205, 205, 205, 0.87);
  top: 0;
  position: sticky;
}